#root {
 font-family: "proxima-nova",helvetica,arial,sans-serif;
}


.btn-secondary {
  margin: 5px;
  background-color: #531C5A !important;
}

.list-group-item-success {
  border: 1px solid #531C5A;
  border-radius: 10px;
  padding: 2%;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.list-group-item-success {
  max-width: 1200px;;
}